.img-home{
    width: 270px;
    height: 322px;
    border-style: outset;
    border-width: medium;
}

.extend{
    margin-bottom: 20%;
}

.ext{
    padding: 5%;
}

.ex{
    padding: 1%;
}

.spacio{
    padding-top: 4%;
}